<div ng-if="vm.arrowClass">
  <div ng-class="vm.arrowClass"></div>
</div>
<ul class="social-share list-inline">
  <li class="social-share--item-facebook">
    <a href="#" role="button"
      socialshare
      socialshare-provider="facebook"
      socialshare-type="feed"
      socialshare-via="vm.socialVia"
      socialshare-url="vm.socialUrl"
      socialshare-redirect-uri="https://dialoga.gov.br/"
      socialshare-media="vm.socialImage"
      socialshare-text="vm.socialText"
      title="Compartilhar no Facebook">
      <span aria-hidden="true" class="icon-circle icon-small icon-circle-social-facebook"><span class="icon icon-social-facebook"></span></span>
      <span class="sr-only">Compartilhar no Facebook</span>
    </a>
  </li>
  <li class="social-share--item-twitter">
    <a href="#" role="button"
      socialshare
      socialshare-provider="twitter"
      socialshare-url="vm.socialUrl"
      socialshare-text="vm.socialText"
      socialshare-hastags="dialogabrasil"
      title="Compartilhar no Twitter">
      <span aria-hidden="true" class="icon-circle icon-small icon-circle-social-twitter"><span class="icon icon-social-twitter"></span></span>
      <span class="sr-only">Compartilhar no Twitter</span>
    </a>
  </li>
  <li class="social-share--item-google">
    <a href="#" role="button"
      socialshare
      socialshare-provider="google+"
      socialshare-url="vm.socialUrl"
      socialshare-text="vm.socialText"
      title="Compartilhar no Google Plus">
      <span aria-hidden="true" class="icon-circle icon-small icon-circle-social-googleplus"><span class="icon icon-social-googleplus"></span></span>
      <span class="sr-only">Compartilhar no Google Plus</span>
    </a>
  </li>
  <li class="social-share--item-whatsapp">
    <a href="whatsapp://send?text=Dialoga Brasil - {{vm.socialUrl}}" title="Compartilhar no WhatsApp">
      <span aria-hidden="true" class="icon-circle icon-small icon-circle-social-whatsapp"><span class="icon icon-social-whatsapp"></span></span>
      <span class="sr-only">Compartilhar no WhatsApp</span>
    </a>
  </li>
</ul>
