.app-paginator {
    text-align: center;

    .btn-pagination {
        background-color: transparent;
        border: none;
        border-radius: 100%;
        font-weight: bold;
        font-size: 20px;
        padding: 0px 8px;
        min-width: 28px;
        height: 28px;
        text-decoration: underline;
        color: $defaultblue;
    }

    .pagination-icon {
        color: $defaultblue;
    }

    .pagination > .active > a,
    .pagination > .active > a:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span,
    .pagination > .active > span:hover,
    .pagination > .active > span:focus {
        background-color: $defaultblue;
        text-decoration: none;

    }

    .pagination > .disabled > span,
    .pagination > .disabled > span:hover,
    .pagination > .disabled > span:focus,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
        background-color: transparent;
    }
}
