<div class="page--inicio" role="main">
    <section class="section-video">
        <div class="container">
            <div class="row">
                <div class="col-md-8" ng-class="{'col-md-offset-2': (!pageInicio.featuredEvent && !pageInicio.bannerRespostas)}">
                    <div class="video-player js-youtube">
                        <div class="embed-responsive embed-responsive-16by9">
                            <div ng-if="!pageInicio.featuredEvent || !pageInicio.featuredEvent.canView">
                                <div class="js-iframe" ng-if="pageInicio.article.videoIsLoaded" ng-bind-html="pageInicio.article.abstractTrusted"></div>
                            </div>
                            <div ng-if="pageInicio.featuredEvent && pageInicio.featuredEvent.canView">
                                <div class="js-iframe" ng-bind-html="pageInicio.featuredEvent.bodyTrusted"></div>
                            </div>
                            <div class="video-background" ng-click="pageInicio.showVideo()">
                                <div class="video-thumbnail" aria-hidden="true" style="background-image:url(/assets/images/youtube-background.png)"></div>
                                <button class="video-play-button" aria-live="assertive" aria-label="Assistir o vídeo tutorial Dialoga Brasil">
                                    <svg height="100%" version="1.1" viewbox="0 0 68 48" width="100%">
                                        <path class="ytp-play-button-bg" d="m .66,37.62 c 0,0 .66,4.70 2.70,6.77 2.58,2.71 5.98,2.63 7.49,2.91 5.43,.52 23.10,.68 23.12,.68 .00,-1.3e-5 14.29,-0.02 23.81,-0.71 1.32,-0.15 4.22,-0.17 6.81,-2.89 2.03,-2.07 2.70,-6.77 2.70,-6.77 0,0 .67,-5.52 .67,-11.04 l 0,-5.17 c 0,-5.52 -0.67,-11.04 -0.67,-11.04 0,0 -0.66,-4.70 -2.70,-6.77 C 62.03,.86 59.13,.84 57.80,.69 48.28,0 34.00,0 34.00,0 33.97,0 19.69,0 10.18,.69 8.85,.84 5.95,.86 3.36,3.58 1.32,5.65 .66,10.35 .66,10.35 c 0,0 -0.55,4.50 -0.66,9.45 l 0,8.36 c .10,4.94 .66,9.45 .66,9.45 z" fill="#1f1f1e" fill-opacity="0.9"></path>
                                        <path d="m 26.96,13.67 18.37,9.62 -18.37,9.55 -0.00,-19.17 z" fill="#fff"></path>
                                        <path d="M 45.02,23.46 45.32,23.28 26.96,13.67 43.32,24.34 45.02,23.46 z" fill="#ccc"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Não faz sentido, mas poppi pediu para esconder por enquanto -->
                <div class="col-md-4" ng-hide="true" ng-show="pageInicio.featuredEvent">
                    <div class="row">
                        <div class="featured-event--box" ng-click="pageInicio.showEventVideo()">
                            <div class="box-top col-xs-12 col-sm-4 col-md-12">
                                <h2 class="box-title">Bate papo com <b>MINISTROS/AS</b></h2>
                            </div>
                            <div class="box-middle col-xs-12 col-sm-4 col-md-12">
                                <div class="video" ng-style="{'background-image': 'url(' + pageInicio.featuredEvent.image.url + ')'}">
                                </div>
                            </div>
                            <div class="box-bottom col-xs-12 col-sm-4 col-md-12">
                                <div class="date">{{pageInicio.featuredEvent.start_date | date : "dd/MM/yyyy"}}</div>
                                <div class="live">AO VIVO</div>
                                <div class="description" ng-bind-html="pageInicio.featuredEvent.abstract"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- Não faz sentido, mas poppi pediu para esconder por enquanto -->
                <div class="col-md-4" ng-hide="true" ng-show="pageInicio.bannerRespostas">
                    <div class="banner-respostas">
                        <a ui-sref="respostas" class="banner-respostas--link-top">
                            <span class="banner-respostas--background-image" aria-hidden="true"></span>
                            <img class="banner-respostas--logo" src="/assets/images/banner-logo--dialoga-brasil.png" alt="Logo Dialoga Brasil"/>
                            <br>
                            <span class="banner-respostas--text1">O dialoga já respondeu</span>
                            <br>
                            <span class="banner-respostas--text2">às suas solicitações!</span>
                            <br>
                            <span class="banner-respostas--text3">Vários programas contaram com centenas de participações e elas foram respondidas, confira já quais propostas foram respondidas:</span>
                        </a>
                        <a ui-sref="respostas" class="banner-respostas--link-bottom">Veja todas as respostas das propostas </a>
                    </div>
                </div>
                <div class="col-md-4" ng-show="pageInicio.bannerRespostas">

                    <div class="banner-respostas">
                        <a ui-sref="respostas">
                            <img class="banner-respostas--logo banner-respostas--logo-small img-responsive banner-responsive" src="/assets/images/banner_home_2.png" alt="O governo federal segue  dialogando com a sociedade. Você fez sua parte mandando participando com propostas para melhorar o país e o governo respondeu. Confira aqui o resultado!">
                        </a>                        
                    </div>
                    <br />


                    <!-- <div class="banner-respostas banner-respostas--background-pink">
                        <a ui-sref="respostas" class="banner-respostas--link-top">
                            <span class="img-banner">
                                <img class="banner-respostas--logo banner-respostas--logo-small" src="/assets/images/marca_banner2.png" alt="Logo Dialoga Brasil"/>
                            </span>
                            <br>
                            <span class="banner-respostas--text2 text-shadow">O GOVERNO FEDERAL SEGUE DIALOGANDO COM A SOCIEDADE</span>
                            <br>
                            <span class="banner-respostas--text3 text-bold">VOCÊ FEZ SUA PARTE PARTICIPANDO COM PROPOSTAS PARA MELHORAR O PAÍS E O GOVERNO RESPONDEU.</span>
                        </a>
                        <div class="teste vertical-align">
                            <a ui-sref="respostas" class="banner-respostas--banner2--link-bottom">CONFIRA AQUI O RESULTADO!</a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
<!--     <section class="section-event">
        <div ng-if="pageInicio.events">
            <event-list events="pageInicio.events"></event-list>
        </div>
        <div ng-if="!pageInicio.events && pageInicio.loadingEvents" class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-info" role="alert">Carregando lista de eventos.</div>
                </div>
            </div>
        </div>
        <div ng-if="!pageInicio.events && pageInicio.eventsError" class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-danger" role="alert">Não foi possível carregar a lista de eventos neste momento.</div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="section-info" ng-if="pageInicio.loading || pageInicio.error">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div ng-if="pageInicio.loading && !pageInicio.error">
                        <div class="alert alert-info" role="alert">Carregando conteúdo...</div>
                    </div>
                    <div ng-if="pageInicio.error">
                        <div class="alert alert-danger" role="alert">
                            Erro ao carregar o conteúdo principal.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section--articles section-gray section-space-up" ng-if="pageInicio.article">
        <div class="container">
            <div id="lista-de-programas" class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="row visible-xs">
                        <div class="col-xs-12">
                            <div class="input-group input-group-lg input-group-search">
                                <label for="articleQueryFilter1" class="control-label sr-only">Buscar programas:</label>
                                <input id="articleQueryFilter1" type="search" class="form-control input-search" ng-model="pageInicio.query" placeholder="Buscar programas" aria-label="Buscar programas">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="pageInicio.submitSearch()">
                                    <span class="icon-circle icon-small color-theme-common-bg">
                                      <span class="glyphicon glyphicon-search"></span>
                                  </span>
                                  <span class="sr-only">Buscar</span>
                              </button>
                          </span>
                      </div>
                      <br/>
                  </div>
              </div>
              <div ng-if="pageInicio.themes && !vm.loadingFilter">
                <category-list categories="pageInicio.themes" selected-category="pageInicio.selectedTheme"></category-list>
            </div>
            <div ng-if="!pageInicio.themes && pageInicio.loadingThemes">
                <div class="alert alert-info" role="alert">
                    Carregando temas.
                </div>
            </div>
            <div ng-if="!pageInicio.themes && pageInicio.themesError">
                <div class="alert alert-danger" role="alert">
                    Não foi possível carregar a lista de temas neste momento.
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <div class="row hidden-xs">
                <div class="col-xs-12">
                    <div class="input-group input-group-lg input-group-search">
                        <label for="articleQueryFilter2" class="control-label sr-only">Buscar programas:</label>
                        <input id="articleQueryFilter2" type="search" class="form-control input-search" ng-model="pageInicio.query" placeholder="Buscar programas" aria-label="Buscar programas">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="pageInicio.submitSearch()">
                            <span class="icon-circle icon-small color-theme-common-bg">
                              <span class="glyphicon glyphicon-search"></span>
                          </span>
                          <span class="sr-only">Buscar</span>
                      </button>
                  </span>
              </div>
          </div>
      </div>
      <div id="search-result" class="row">
        <div class="col-sm-12">
            <header class="header">
                <h2>Programas</h2>
                <button type="button" class="btn btn-link" ng-click="pageInicio.showAllPrograms($event)">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Ver todos os {{::pageInicio.programs.length}} programas
                </button>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-if="pageInicio.filtredPrograms && !vm.loadingFilter">
            <article-grid articles="pageInicio.filtredPrograms"></article-grid>
        </div>
        <div ng-if="!pageInicio.programs && pageInicio.loadingPrograms">
            <div class="alert alert-info" role="alert">
                Carregando programas.
            </div>
        </div>
        <div ng-if="!pageInicio.programs && pageInicio.programsError">
            <div class="alert alert-danger" role="alert">
                Não foi possível carregar a lista de programas neste momento.
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>
</div>
